.chat-card {
  margin-bottom: 30px;

  .time {
    margin: 14px 0;
    text-align: center;

    .time-text {
      display: inline-block;
      padding: 6px 20px;
      font-size: 24px;
      color: #fff;
      border-radius: 6px;
      background-color: #dcdcdc;
    }
  }

  .message {
    padding: 10px 0;
    .avatar {
      float: left;
      margin: 0 30px 0 0;

      .avatar-img {
        width: 88px;
        height: 88px;
        border-radius: 50%;
      }
    }

    .text {
      display: inline-block;
      position: relative;
      padding: 20px 20px 10px;
      max-width: 470px;
      min-width: 100px;
      min-height: 50px;
      font-size: 30px;
      text-align: left;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 10px;
      word-break: break-word;
      &:before {
        content: ' ';
        position: absolute;
        top: 18px;
        right: 100%;
        border: 12px solid transparent;
        border-right-color: #fff;
      }
    }
  }

  .message-self {
    text-align: right;

    .avatar {
      float: right;
      margin: 0 0 0 30px;
    }
    .text {
      background-color: #2fd996;
      color: #fff;
      &:before {
        right: inherit;
        left: 100%;
        border-right-color: transparent;
        border-left-color: #2fd996;
      }
    }
  }
}
