@import './common/css/variables.less';
// Taro-ui全局样式设定
@import './common/css/ui.less';

div, view, text, label, input, textarea, button, navigator, picker, .page {
  font-family: 'Microsoft YaHei';
  font-size: 28px;
  line-height: 1.6;
  color: #333;
}
input, textarea, button {
  margin: 0;
  padding: 0;
}

@import './common/css/icons.less';
@import './common/css/btn.less';
@import './common/css/list.less';

.page {
  background: #f6f6f6;
}
.page-has-btns {
  padding-bottom: 160px;
}
.bg-white {
  background: #fff;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// *******************
// *** 通用文字样式 ***
// *******************
.text-title {
  padding: 30px;
  color: #333;
}
.text-primary {
  color: @theme-color;
}
.text-secondary {
  color: #b2b2b2;
}
.text-9 {
  color: #999;
}
// 通用文字大小
.ft24 {
  font-size: 24px;
}
.ft28 {
  font-size: 28px;
}
.ft36 {
  font-size: 36px;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.footer-btns {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;

  .btn {
    flex: 2;
  }
  .btn-plain {
    flex: 1;
  }
}

// *******************
// ===== 徽章 =====
// *******************
.badge {
  display: inline-block;
  border-radius: 16px;
  background: #f03e3e;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  padding: 0 12px;
}

// *******************
// *** 加载更多 ***
// *******************
.loading-page {
  text-align: center;
  padding: 100px 0 0;
}
.show-more {
  padding: 60px 30px;
  text-align: center;
}


// ***************************
// *** 异常信息提示 ***
// ***************************
.exception-info {
  text-align: center;
  padding: 180px 70px 0;

  &-title {
    font-weight: bold;
    margin-top: 72px;
  }
  &-content {
    margin-top: 20px;
  }
  &-btn {
    margin-top: 90px;
  }
}

// *****************************
// 通用页面结构
// *****************************
.common-header {
  height: 200px;
  padding: 40px 75px 0;
  margin-bottom: 30px;
  background: #fff;
  display: flex;
}

// 通用表单样式
.textarea-wrap, .input-wrap {
  padding: 30px;
  background: #fff;
}
.textarea-wrap .textarea, .input-wrap .input {
  width: 100%;
  height: 80px;
}

